<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration</title>
</head>

<body>
  <h1>Welcome, <%= name %>!</h1>
  <p>Thank you for registering with our website.</p>
  <p>Please click the following link to confirm your email:</p>
  <a href="<%= confirmationLink %>">Confirm Email</a>
  <p>If the link doesn't work, you can copy and paste the URL below into your web browser:</p>
  <p><%= confirmationLink %></p>
  <p>Thank you and have a great day!</p>
</body>

</html>
